.loginViewWrap{
  padding-top: 200rpx;
  .logo-info{
    text-align: center;
    .fmg-logo{
      width:7rem;
      height:7rem;
    }
    .fmg-name{
      text-align: center;
      font-size: 32px;
    }
  }
  .fmg-login{
    margin-left: 3rem;
    margin-top: 3rem;
    font-size: 29px;
  }
  .fmg-login-info{
    color: rgb(51, 46, 45);
    font-size: 25px;
    margin-left: 3rem;
    margin-top: 0.3rem;
  }
  .btn{
    width: 80%;
    border-radius: 99px;
    margin-top: 4rem;
  }
}