page{
  background-color: rgb(243, 243, 243);
}
.comment{
  padding-top: 30rpx;
  .comment-wrap{
    background-color: white;
    margin-top: 30rpx;
    margin: 0 30rpx;
    padding:30rpx 30rpx;
    border-radius: 25PX;
    margin-bottom: 30rpx;
    .goods-wrap{
      display: flex;
      margin-bottom: 30rpx;
      image{
        width:100rpx;
        height:100rpx;
      }
      .info{
        margin-left: 30rpx;
        .sale_point{
          font-size: 27rpx;
          margin-top: 10rpx;
        }
        .name{
          font-size: 30rpx;
          margin-top:15rpx;
          font-weight: 400;
        }
      }
     
    }
    .tag-wrap{
      display: inline-flex;
      .tag-active{
        background-color: #d6e4ef;
        border-radius: 20rpx;
        padding: 6rpx 11rpx;
        font-size: 26rpx;
        margin-right: 20rpx;
        border: 1PX #d6e4ef solid;
      }
      .tag{
        border-radius: 20rpx;
        padding: 6rpx 11rpx;
        font-size: 26rpx;
        margin-right: 20rpx;
        border: 1PX #d6e4ef solid;
      }
    }
    .content-wrap{
      margin-top: 30rpx;
      margin-bottom: 30rpx;
      .at-textarea {
        width: 100%;
        font-size: 27rpx;
        line-height: 1.5;
        border-radius: 20rpx;
        border-radius: 20rpx;
        box-sizing: border-box;
      }
    }
    .submit{
      margin-top: 40rpx;
      text-align: center;
      margin: 0 auto;
      font-size: 33rpx;
      font-size: 33rpx;
      border-radius: 40rpx;
      width: 120rpx;
      padding: 10rpx 0;
      border: 1PX #d6e4ef solid;
      
    }
  }
}
