.my-order{
  background-color: rgb(243, 243, 243);
  height: 100vh;
  .my-order-list{
    .my-order-bar{
      display: inline-flex;
      width: 100%;
      padding: 20rpx 0;
      height: 60rpx;
      background-color: white;
      .tab-item{
        border-radius: 30rpx;
        padding-top: 10rpx;
        margin-left: 0.5rem;
        padding-left: 10rpx;
        padding-right:10rpx;
        font-size: 28rpx;
        display:inline;   
      }
      .tab-item-active{
        background-color: #a8a8a8;
        border-radius: 30rpx;
        padding-top: 10rpx;
        margin-left: 0.5rem;
        padding-left: 10rpx;
        padding-right: 10rpx;
          display:inline;
        color:white;
          font-size: 28rpx;

      }
    }
    .list-item-wrap{
      padding-top: 30rpx;
      margin:0 30rpx;
      .list-item{
        display: block;
        padding: 0rpx 30rpx;
        margin-bottom: 30rpx;
        padding-bottom: 30rpx;
        padding-top: 20rpx;
        background-color: white;
        border-radius: 30rpx;
        .order_status_wrap{
          display:flex;
          align-items: center;
          justify-content: flex-end;
          .status{
            font-size: 28rpx;
            color: #f77438;
          }
        }
        
        .total_fee_wrap{
          margin-top: 20rpx;
          text-align: right;
          font-size: 25rpx;
          display:flex;
          align-items: center;
          justify-content: flex-end;
          .money{
            font-size: 25rpx;
          }
          .all_coupon{
           
          }
          .pay_fee{
           
          }
        }
        .btn{
          margin-top:10rpx;
          display: inline-flex;
          width:100%; 
          display:flex; 
          justify-content: flex-end;
          .dilivery{
            background-color: #5a5a5a;
            border-radius: 30rpx;
            padding: 5rpx 15rpx;
            color: white;
            margin-right: 0%;
          }
          .pay{
            background-color: #5a5a5a;
            border-radius: 30rpx;
            padding: 5rpx 15rpx;
            color: white;
            margin-right: 0%;
          }
          .add_cart{
            background-color: #5a5a5a;
            border-radius: 30rpx;
            padding: 5rpx 15rpx;
            color: white;
            margin-right: 0%;
          }
        }
      }
    }
  }
}
.list-good{
  margin-top: 30rpx;
  image{
    float: left;
  }
  .title{
    float: left;
    margin-left: 20rpx;
    .name{
      font-size: 38rpx;
      font-weight: 500;
    }
    .spe{
      display: inline-flex;
      .item{
        margin-right: 10rpx;
        font-size: 28rpx;
        color:rgb(102, 102, 102);
      }
    }
  }
  .price-info{
    float: right;
    .one-price{
      font-size: 35rpx;
      font-weight: 400;
    }
    .quantity{
      float: right;
      font-size: 25rpx;
      color:rgb(102, 102, 102);
    }
  }
}
