.order-detail-wrap{
  background-color: rgb(243, 243, 243);
  height: 100vh;
  .order-detail{
    padding: 0 30rpx;
    margin-top: 30rpx;
    padding-top: 30rpx;
    .address-wrap{
      padding: 30rpx 30rpx;
      background-color: white;
      border-radius: 10PX;
      display: flex;
      .icon-address{
        height:70rpx;
        width:70rpx;
        display: flex;
        margin-top: 10rpx;
      }
      .info{
        margin-left: 20rpx;
      }
      .name-phone{
        display: flex;
        text-align: center;
        font-size: 26rpx;
        .phone{
          margin-left: 30rpx;
          display:flex;
          justify-content: flex-end;
          align-items: center;
        }
      }
      .address-detail{
        margin-top:10rpx;
        font-size: 26rpx;
        
      }
    }
    .goods-wrap{
      margin-top: 30rpx;
      padding: 30rpx 30rpx;
      background-color: white;
      border-radius: 10PX;
      .total-fee-wrap{
        margin-top: 20rpx;
        .list{
          display:flex;
          .all-fee,.all-coupon,.dil-fee{
            flex:1;
            font-size:27rpx;
            color:rgb(119, 119, 119);
          }
          .money{
            align-items: center;
            justify-content: flex-end;
            font-size:27rpx;
            color:rgb(119, 119, 119);
          }
          .pay-fee{
            flex:1;
            font-size:30rpx;
          }
          .pay-money{
            align-items: center;
            justify-content: flex-end;
            font-size:30rpx;
            color:#D53E1D;
          }
        }
      }
    }
    .order-detail{
      margin-top:30rpx;
      padding: 30rpx 30rpx;
      background-color: white;
      border-radius: 10PX;
      margin-bottom: 20rpx;
      .info-wrap{
        .list{
          display:flex;
          .name{
            flex:1;
            font-size:27rpx;
          }
          .info{
            align-items: center;
            justify-content: flex-end;
            font-size:27rpx;
          }
        }

      }
    }
  }
}