.order-detail-wrap{
  background-color: rgb(243, 243, 243);
  height: 100vh;
  .order-detail{
    margin-top: 30rpx;
    .status-wrap{
      padding: 30rpx 60rpx;
      background-color: white;
      box-shadow: 2px 0 15px rgb(212, 212, 212);
      //border-radius: 10PX;
      margin-bottom: 30rpx;
      .status{
        font-size: 30rpx;
        color: #d15235;
        font-size: 500;
      }
      
    }
    .delivery-wrap{
      margin: 0 30rpx;
      padding: 30rpx 30rpx;
      background-color: white;
      border-radius: 10PX;
      display: flex;
      .img{
        width: 100PX;
        height: 30PX;
        /* flex: 1; */
        align-self: center;
      }
      .none-img{
        width:70rpx;
        height:70rpx;
      }
      .info{
        margin-left: 30rpx;
        .none-status{
          font-size: 30rpx;
          font-weight: 500;margin-top: 10rpx;
        }
        .delivery-status{
          font-size: 30rpx;
          font-weight: 500;
        }
        .newest-status{
          margin-top: 10rpx;
          color: #77a8df;
          font-size: 26rpx;
        }
        .newest-time{
          font-size: 22rpx;
          color: #7e7e7e;
          margin-top: 10rpx;
        }
      }
    
    }
    .address-wrap{
      margin: 0 30rpx;
      padding: 30rpx 30rpx;
      background-color: white;
      border-radius: 10PX;
      display: flex;
      margin-top: 30rpx;
      .icon-address{
        height:70rpx;
        width:70rpx;
        display: flex;
        margin-top: 10rpx;
      }
      .info{
        margin-left: 20rpx;
      }
      .name-phone{
        display: flex;
        text-align: center;
        font-size: 26rpx;
        .phone{
          margin-left: 30rpx;
          display:flex;
          justify-content: flex-end;
          align-items: center;
        }
      }
      .address-detail{
        margin-top:10rpx;
        font-size: 26rpx;
        
      }
    }
    .goods-wrap{
      margin: 0 30rpx;
      margin-top: 30rpx;
      padding: 30rpx 30rpx;
      background-color: white;
      border-radius: 10PX;
      .total-fee-wrap{
        margin-top: 20rpx;
        .list{
          display:flex;
          .all-fee,.all-coupon,.dil-fee{
            flex:1;
            font-size:27rpx;
            color:rgb(119, 119, 119);
          }
          .money{
            align-items: center;
            justify-content: flex-end;
            font-size:27rpx;
            color:rgb(119, 119, 119);
          }
          .pay-fee{
            flex:1;
            font-size:30rpx;
          }
          .pay-money{
            align-items: center;
            justify-content: flex-end;
            font-size:30rpx;
            color:#D53E1D;
          }
        }
      }
    }
    .order-detail{
      margin: 0 30rpx;
      margin-top:30rpx;
      padding: 30rpx 30rpx;
      background-color: white;
      border-radius: 10PX;
      margin-bottom: 20rpx;
      .info-wrap{
        .list{
          display:flex;
          .name{
            flex:1;
            font-size:27rpx;
          }
          .info{
            align-items: center;
            justify-content: flex-end;
            font-size:27rpx;
          }
        }

      }
    }
  }
}