.cartlist{
  width:100%;
  .top-cart{
    padding:1rem;
    position:fixed;
    top:0; 
    z-index:99;
    display: block;
    height: 1.4rem;
    width:100%;
    background-color: white;
    .bag-icon{
      float: left;
    }
    .store-name{
      margin-left: 0.3rem;
      float: left;
      font-size: 27px;
      margin-top: 0.2rem;
    }
    .more{
      float: left;
      margin-left: 0.3rem;
    }
    .store-edit{
      font-size: 27px;
      margin-top: 0.2rem;
      float: right;
      margin-right: 2rem;
    }
  }
  .midCard{
    background-color: rgb(227, 237, 238);
    margin-top: 2rem;
    padding-top:1rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    .cart-box{
      padding-bottom: 100px;
      margin-bottom: 2rem;
      margin-top: 1rem;
      .cart-list{
        position: relative;
        padding: 20px 20px 20px 285px;
        height: 185px;
        background-color: white;
        border-radius: 10px;
        margin-bottom: 0.5rem;
        border-bottom: 1px solid #e9e9e9;
        .cart-pro-select{
          position: absolute;
          left: 20px;
          top: 90px;
          width: 40px;
          height: 40px;
        }
        .cart-thumb{
          position: absolute;
          top: 20px;
          left: 85px;
          width: 185px;
          height: 185px;
          border-radius:5px;
          box-shadow:2px 2px 2px #000
        }
        .cart-pro-name{
          display: inline-block;
          // width: 500px;
          height: 105px;
          line-height: 50px;
          overflow: hidden;
          font-family: Microsoft Yahei, Cochin, Georgia, Times, 'Times New Roman', serif;
          font-size:28px;
          margin-right: 15px
        }
    
        .cart-pro-price{
          display: inline-block;
          font-size:30px;
          color: #b30000;
          height: 105px;
          line-height: 50px;
        }
        .cart-count-box{
          position: absolute;
          left: 420px;
          bottom: 20px;
          z-index:1;
          width: 200px;
          height: 80px;
        }
      }
    }
    
  }
  .bottom-cart{
    z-index:98;
    position:fixed;
    bottom:0;
    height: 3.8rem;
    width:100%;
    background-color: white;
    .cart-pro-select{
      position: absolute;
      width: 25px;
      height: 25px;
      left: 30px;top:37px;
    }
    .total-select{
      position: absolute;
      left: 20px;
      top: 37px;
    }
    .select-all{
      position: absolute;
      left: 70px;
      top: 37px;
    }
    .cart-money{
      .cart-toatl-price{
        position: absolute;
        left: 300px;
        top: 37px;
      }
    }
    .cont{
      height:2.1rem;
      width: 5.6rem;
      border-radius: 30px;
      margin-right: 1rem;
      margin-top:0.4rem;
      float: right;
      text-align: center;
      font-size: 30px;
      color: white;
      padding-top:0.6rem;
      font-weight: 800;
      background-color:#991111;
    }
  }
}


