/*首页*/
.index{
  background-color: rgb(243, 243, 243);
  overflow-x: hidden;
  .home-top-wrap{
    background-color: white;
    border-radius: 10PX;
    margin: 30rpx 30rpx;
    padding: 30rpx 30rpx;
    margin-top: 80rpx;
    .place-tab-row::-webkit-scrollbar {display:none}  //是否显示滑动条
    .place-tab-row{
      overflow-y:hidden;
      overflow-x:auto;
      white-space: nowrap;
      .place-tab-item{   
        margin-right: 40rpx;
        overflow-x: hidden;
        //overflow-x: none;
        display: inline-table;
        vertical-align: top;
        .pic{
          height: 130rpx;
          width: 130rpx;
          border-radius: 10PX;
          // background-color: #DCE9FF;
          img{
            height: 150rpx;
            width: 150rpx;
            border-radius: 9PX;
          }
        }
        .title{
          text-align: center;
          font-size: 30rpx;
        }
      }
    }
    /*种类滑动tab*/
    .kind-tab-wrap{
      .kind-tab-row::-webkit-scrollbar {display:none}
      .kind-tab-row{
        margin-top:30rpx;
        overflow-y:hidden;
        overflow-x:auto;
        white-space: nowrap;
        .kind-tab-item{   
          overflow-x: hidden;
          display: inline-table;
          vertical-align: top;
          margin-right: 25rpx;
          .pic{
            height: 95rpx;
            width: 95rpx;
            img{
              height: 70rpx;
              width: 70rpx;
            }
          }
          .title{
            text-align: center;
            font-size: 25rpx;
          }
        }
      }
    }
      .kind-more{
        .kind-more-pic{
          height: 86rpx;
          width: 45rpx;
          background-color: rgb(212, 212, 212);
          border-radius:40px;
          padding-top:10rpx;
        }
        .title{
          text-align: center;
          font-size: 20px;
        }
      }
    }
  /*畅销榜*/
  .sale-top-wrap{
    background-color: white;
    border-radius: 10PX;
    margin: 30rpx 30rpx;
    padding: 20rpx 30rpx;
    .goodsList{
      display: inline-flex;
      .left-item{ 
        margin-right: 28rpx;
        position: relative;
        .range-1{
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          position: absolute;
          left: -37rpx;
          top: -39rpx;
          width: 115rpx;
          height: 135rpx;
        }
        .pic-1{
          width: 110rpx;
          height: 130rpx;
          box-shadow: 0 3rpx 5rpx #464646;
        }
        .number{
          position:absolute;
          font-size: 45rpx;
          color: rgb(255, 255, 255);
          font-weight: 700;
          left: 16rpx;
          top: -2rpx;
          z-index:2;
        }

      }
      .mid-right-icon-wrap{
        .icon-info-wrap{
          display: flex;
          image{
            width:100rpx;
            height:70rpx;
          }
          .info{
            font-size: 24rpx;
            align-self: center;
          }
        }

        .mid-right-wrap{
          display: flex;
          .mid-item{
            position: relative;
            margin-right: 28rpx;
            .range-2{
              display: flex;
              position: absolute;
              left: -30rpx;
              top: -12rpx;
              width: 99rpx;
              height: 110rpx;
            }
            .number{
              position: absolute;
              font-size: 35rpx;
              color: white;
              font-weight: 700;
              left: 4rpx;
              top: 15rpx;
              z-index: 2;
            }
            .pic-2{
              width:160rpx;
              height: 160rpx;
              border-radius: 10PX;
              margin-top:20rpx;
              box-shadow: 0 3rpx 5rpx #464646;
              
            }
          }
          .right-item{
            position: relative;
            .range-3{
              display: flex;
              position: absolute;
              left: -30rpx;
              top: -12rpx;
              width: 99rpx;
              height: 110rpx;  
          }
            .number{
              position:absolute;
              font-size: 35rpx;
              color: rgb(255, 255, 255);
              font-weight: 700;
              left: 6rpx;
              top:15rpx;
              z-index:2;
            }
            .pic-3{
              width:160rpx;
              height: 160rpx;
              margin-top:20rpx;
              border-radius: 10PX;
              box-shadow: 0 3rpx 5rpx #464646;
            }
          }
        }
      }
    }
  }
  /*新品榜*/
  .sale-new-wrap{
    .title-list{
      background-color: white;
      border-radius: 10PX;
      padding: 10rpx 20rpx;
      //display: block;
      height:50rpx;
      margin: 30rpx 30rpx;
      .icon{
        margin-top: -15rpx;
        left:100rpx;
        float: left;
      }
      .name{
        font-size: 36px;
        font-weight: 500;
        float: left;
      }
      .more{
        display: inline-flex;
        background-color: #D8D8D8;
        height:40rpx;
        border-radius: 30px;
        padding-top:8rpx;
        padding-left: 15rpx;
        float: right;
        left:16.4rem;
        .checkmore{
          font-size: 24px;
          color: #3d3d3d;
        }
      }
    }
   
  }
}
/*场地-产品页面*/
.place-goods-list-wrap{
  background-color: rgb(243, 243, 243);
  position: relative;
  overflow-x: hidden;
  padding-top:10rpx;
  .title-wrap{
    padding: 15rpx 30rpx;
    background-color: white;
    margin: 30rpx 30rpx;
    display: flex;
    border-radius: 10PX;
    .info{
      margin-left: 25rpx;
      align-self: center;
      .name{
        font-size: 33rpx;
        font-weight: 600;
        align-self: center;
      }
      .check-info{
        margin-top: 5rpx;
        font-size: 19rpx;
        border-radius: 30rpx;
        border: 1rpx solid #535353;
        color: #535353;
        padding: 0.5px 9rpx;
        width: 76rpx;

      }
    }
  }
}
/*商品卡片*/
.goods-card{
  .goods-items-wrap{
    padding:0rpx 30rpx;
    width:100%; 
    overflow-y: hidden;
    .item{
      margin-bottom: 25rpx;
      margin-right: 25rpx;
      height: 455rpx;
      width: 300rpx;
      background-color: white;
      border-radius: 10PX;
      padding: 20rpx 19rpx;
      float: left;
      .cover{
        width:280rpx;
        border-radius: 10PX;
        image{
          width:300rpx;
          height: 270rpx;
          border-radius: 10PX;
          clear: both;
        }
      }
      .goods-name{
        font-size: 28rpx;
        height: 80rpx;
      }
      .name-detail{
        font-size: 28rpx;
        height: 80rpx;
        .detail{
          font-size: 26rpx;
          color: #3d3d3d;
        }
      }

      .count-null{
        font-size: 14rpx;
        height: 24rpx;
        width: 55rpx;
        padding: 4rpx 8rpx;  
        width:60rpx; 
      }
      .info{
        display: flex;
        .price{
          flex:1;
          .yuan{
            font-size:28rpx;
            font-weight:900;
            color:#D53E1D;
            float:left;
            margin-top: 9rpx;
          }
          .number{
            font-size: 28rpx;
            color: #D53E1D;
            font-weight:500;
            float: left;
            margin-top: 8rpx;
            margin-left: 5rpx;
          }
        }
      }
      .join-cart{
        align-items: center;
        justify-content: flex-end;
        background-color:#D53E1D;
        color: white;
        font-size: 27rpx;
        border-radius: 7PX;
        padding: 7rpx 10rpx;
   
      }
  }
  }
  .float_wrap {
    visibility: hidden;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    transition: visibility 300ms cubic-bezier(0.36, 0.66, 0.04, 1);
    .mask {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0 ,0 ,0 , 0.3);
    }
    .container {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding-bottom: 120rpx;
      border-radius: 20rpx 20rpx 0 0;
      background: #fff;
      transform: translate3d(0, 100%, 0);
      transition: transform 300ms cubic-bezier(0.36, 0.66, 0.04, 1), -webkit-transform 300ms cubic-bezier(0.36, 0.66, 0.04, 1);
      .info_wrap {
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 20rpx 30rpx 0;
        padding-left: 200rpx;
        height: 150rpx;
        border-bottom: 1rpx solid #eee;
        image {
          position: absolute;
          left: 0;
          top: -50rpx;
          width: 180rpx;
          height: 180rpx;
          border-radius: 20rpx;
        }
        .name {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          font-size: 32rpx;
        }
        .price {
          margin-top: 10rpx;
          color: #D53E1D;
          font-size: 36rpx;
          .sign {
            font-size: 28rpx;
          }
        }
      }
      .select_wrap {
        margin: 20rpx 25rpx 0;
        padding-bottom: 20rpx;
        border-bottom: 1rpx solid #eee;
        font-size: 32rpx;
        max-height: 350rpx;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        .options_list {
          display: flex;
          flex-flow: row wrap;         
          .option {
            margin-top: 20rpx;
            margin-right: 20rpx;
            padding: 10rpx 20rpx;
            border: 1rpx solid #eee;
            border-radius: 10rpx;
          }
          .active {
            color: #5e83ff;
            border: 1rpx solid #5e83ff;
          }
        }
      }
      .num_wrap {
        margin: 20rpx 25rpx 0;
        padding-bottom: 20rpx;
        font-size: 32rpx;
        display: flex;
        justify-content: space-between;
        .left {
          .total {
            margin-top: 20rpx;
            color: #969696;
            font-size: 26rpx;
          }
        }
        .right {
          display: flex;
          justify-content: flex-end;
          font-size: 32rpx;
          .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60rpx;
            height: 60rpx;
            background-color: #f7f8fa;
          }
          input {
            width: 80rpx;
            height: 60rpx;
            margin: 0 10rpx;
            text-align: center;
            background-color: #f7f8fa;
          }
        }
      }
      .select_tool_bar {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 120rpx;
        background-color: pink;
        view {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 36rpx;
          color: #fff;
        }
        .cart {
          background-color: #5e83ff;
        }
        .buy {
          background-color: #e16d6d;
        }
      }
    }
    .active {
      transform: translate3d(0, 0, 0);
    }  
  }
  .active {
    visibility: visible;
  }
}
.title-list{
  background-color: white;
  border-radius: 10PX;
  padding: 10rpx 30rpx;
  height:50rpx;
  margin: 0rpx 30rpx;
  margin-bottom: 30rpx;
  .icon{
    margin-top: -15rpx;
    left:100rpx;
    float: left;
  }
  .name{
    font-size: 36px;
    font-weight: 500;
    float: left;
  }
  .more{
    display: inline-flex;
    background-color: #D8D8D8;
    height:40rpx;
    border-radius: 10PX;
    padding-top:8rpx;
    padding-left: 15rpx;
    float: right;
    left:16.4rem;
    .checkmore{
      font-size: 24px;
      color: #3d3d3d;
    }
  }
}
.place-kind-list{
  .kind-item-wrap{
    padding:30rpx 30rpx;
    display:flex;
    .kind-item{
      width:200rpx;
      margin-right:30rpx;
      .title{
        text-align: center;
        font-size: 30rpx;
      }
    }
   
  }
}
/*种类-商品-页面*/
.kind-goods-list-wrap{
    background-color: rgb(243, 243, 243);
    position: relative;
    overflow-x: hidden;
  .top-list::-webkit-scrollbar {display:none}
  .top-list{
    background-color: rgb(255, 255, 255);
    margin-bottom: 30rpx;
    padding: 20rpx 10rpx;
    display: flex;
    overflow-y:hidden;
    overflow-x:auto;
    white-space: nowrap;
    .kind-item{
      margin-right: 10rpx;
      overflow-x: auto;
      border-radius: 10PX;
      padding: 5rpx 20rpx;
      font-size: 30rpx;
      margin-top: 5rpx;   
      display: inline-table;
      vertical-align: top;
      overflow-x: hidden;
    }
    .kind-item-active{
      margin-right: 10rpx;
      overflow-x: auto;
      background-color: #92b8fd;
      border-radius: 10PX;
      padding: 5rpx 20rpx;
      color: white;
      font-size: 30rpx;
      margin-top: 5rpx;
      display: inline-table;
      vertical-align: top;
      overflow-x: hidden;
    }

  }
}
//轮播图
.swiper {
  height: 450rpx;
  .img{
    width:100%;
    height: 450rpx;
  }
}
//中间logo+search
.logo-search-wrap{
  position: absolute;
  top: 400rpx;
  left: 80rpx;
  display: flex;
  .logo{
    margin-top: -5rpx;
    image{
      height:110rpx;
      width:110rpx;
      border-radius: 50PX;
    }
  }
  .search-wrap{
    margin-left: 40rpx;
    .searchBar {
      position: relative;
      text-align: center;
      align-self: center;
      width: 450rpx;
      height: 80rpx;
      input {
          width: 100%;
          height: 100%;
          text-align: center;
          border-radius: 50rpx;
          background-color:white;
          margin-top: 16rpx;
      }
      image {
          position: absolute;
          top: 50%;
          transform: translate(0,-50%);
          height: 50rpx;
          width: 50rpx;
      }
      .search {
        margin-right: 15rpx;
      }
  }
  }

}