.index {
  flex-direction: column;
}
.top-view{
  padding-left: 1em;
  .fmg-logo{
    float: left;
    margin-top:0.7rem;
  }
  .search-box{
    width: 75%;
    margin-left: 0.3rem;
    float: left;
  }
  .bell{
    float: left;
    margin-top:0.6rem;
    margin-left: 0.4rem;
  }

}

.slide-photo{
  margin-top: 2rem;
  margin-bottom: 2rem;
  .photo{
    width: 94%;
  }
}

.recommend-wrap{
  .slide-photo{
    margin-top: 2%;
    .photo-1{
      background-color: #eed5d5;
      width: 94%;
      margin-left: 3%;
      border-radius: 20px;
    }
  }
  .squareCard{
    .at-row{
      .at-col{
        padding-left: 0.1rem;
        // .card-photo{
        //   height:145px;
        //   width: 145px;
        //   //background-color: #e4e595;
        // }
        .card-text{
          font-size: 25px;
          text-align: center;
        }
      }
    }
  }
}


@import '~taro-ui/dist/style/index.scss';
