.addressBox {
    width: 360rpx;
    background-color: rgba(206, 206, 206, 0.6);
    border-radius: 30rpx;
    margin: auto auto;
    padding-left: 10rpx;
    padding-bottom: 20rpx;
  .addressTitle{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 10rpx;
      margin-left: 10rpx;
      color:black;
      .address {
          position: relative;
      }
      .rightIcon {
          width: 44px;
          height: 44px;
         
          background-size: 44px 44px;
          display: block;
      }
  }
}
.picker{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top:1px solid #E5E5E5;
  background: #fff;
  z-index: 99;
  .topList{
      height:100px;
      line-height:100px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right:10px;
      padding-left: 10px;
      .title {
          width: 260px;
      }
      .sure,
      .close {
          display: inline-block;
          height: 50px;
          width: 200px;
          text-align: center;
          line-height: 50px;
          color: #3d7abd;
      }
  }
}