.userlist{
  background-color: rgb(243, 243, 243);
  position: relative;;
  height: 100vh;
  .top-wrap{
    background-image: url(http://qiniu.fmg.net.cn/picture-1606028422000);
    height: 740rpx;
    width: 100%;
    padding-top: 90px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    .user-info{
      display: flex;
      .touxiang{
        margin-top: 150rpx;
        margin-left: 100rpx;
        image{
          border-radius: 999rpx;
          width: 200rpx;
          height: 200rpx;
          box-shadow: 0 0 10px #355e9a;
        }
      }
      .info{
        margin-top: 150rpx;
        margin-left: 40rpx;
        align-self: center;
        .name{
          align-self: center;
          font-size: 40rpx;
          font-weight: 600;
        }
        .edit-info{
          padding: 0rpx 10rpx;
          display: flex;
          background-color: rgb(236, 235, 235);
          padding-bottom: 10rpx;
          box-shadow: 0 3rpx 5rpx #464646;
          .info{
            font-size: 22rpx;
            margin-top: 10rpx;
            margin-left: 0rpx;
          }
          image{
            width:30rpx;
            height:30rpx;
            margin-top: auto;
            margin-left: 7rpx;
          }
        }
      }
    }
  }
  .num-info-wrap{
    margin: 0 30rpx;
    background-color: white;
    border-radius: 20rpx;
    padding: 15rpx 45rpx;
    display: inline-flex;
    width: 80%;
    margin-top: 80rpx;
    box-shadow: 1px 3px 5px #464646;
    .num-item{
      width: 50rpx;
      .number{
        font-size: 45rpx;
        font-weight: 600;
        text-align: center;
      }
      .title{
        font-size: 25rpx;
        text-align: center;
      }

    }
  }
  .other-service-wrap{
    margin: 0 30rpx;
    margin-top: 60rpx;
    background-color: rgb(255, 255, 255);
    border-radius: 20rpx;
    padding: 15rpx 45rpx;
    width: 80%;
    margin-top: 80rpx;
    margin-bottom: 80rpx;
    box-shadow: 0px 3px 5px #464646;
    .other-service-title{
      font-size: 30rpx;
      font-weight: 600;
      margin-bottom: 15rpx;

    }
    .other-service-list{
      display: inline-flex;
      .other-service-item{
        width:130rpx;
        .name{
          font-size: 25rpx;
          margin-left: 6rpx;
        }
        image{
          text-align: center;
        }
      }
    }
  }
  .myorder-list-wrap{
    margin: 0 30rpx;
    background-color: rgb(255, 255, 255);
    border-radius: 20rpx;
    padding: 15rpx 45rpx;
    width: 80%;
    margin-top: -100rpx;
    box-shadow: 1px 3px 5px #464646;
    .myorder-title{
      font-size: 30rpx;
      font-weight: 600;
    }
    .myorder-list{
      display: inline-flex;
      .myorder-list-item{
        width:130rpx;
        position: relative;
        .count{
          position: absolute;
          right: 30rpx;
          top: 3rpx;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 40rpx;
          border-radius: 30PX;
          background-color: #d5401f;
          font-size: 27rpx;
          color: #fff;
          padding: 0 13rpx;
        }
        .name{
          //text-align: center;
          font-size: 25rpx;
          margin-left: 8rpx;
        }
        .name-last{
          font-size: 25rpx;
          margin-left: -10rpx;
        }
        image{
          text-align: center;
        }
      }
    }
  }
}
