.userlist{
  background-color: rgb(243, 243, 243);
  position: relative;;
  height: 100vh;
  .top-wrap{
    background-color: #e5e5e5;
    height:500rpx;
    display: flex;
    width: 100%;
    .touxiang{
      margin-top: 120rpx;
      margin-left: 100rpx;
      image{
        border-radius: 999px;
        width:160rpx;
        height:160rpx;
      }
    }
    .info{
      margin-top: 150rpx;
      margin-left: 40rpx;

      .name{
        font-size: 38rpx;
        font-weight: 600;

      }
      .edit-info{
        border-radius: 6PX;
        border: 1rpx solid black;
        padding: 0rpx 10rpx;
        display: flex;
        padding-bottom: 10rpx;
        .info{
          font-size: 22rpx;
          margin-top: 10rpx;
          margin-left: 0rpx;
        }
        image{
          width:30rpx;
          height:30rpx;
          margin-top: auto;
          margin-left: 7rpx;
        }
      }
    }
  }
  .num-info-wrap{
    margin: 0 30rpx;
    height: 110rpx;
    background-color: rgb(255, 255, 255);
    border-radius: 20rpx;
    padding: 15rpx 45rpx;
    display: inline-flex;
    position: absolute;
    top: 440rpx;
    width: 80%;
    .num-item{
      width: 50rpx;

      .number{
        font-size: 45rpx;
        font-weight: 600;
        text-align: center;
      }
      .title{
        font-size: 25rpx;
        text-align: center;
      }

    }
  }
  .other-service-wrap{
    margin: 0 30rpx;
    background-color: rgb(255, 255, 255);
    border-radius: 20rpx;
    padding: 15rpx 45rpx;
    width: 80%;
    margin-top: 30rpx;
    .other-service-title{
      font-size: 30rpx;
      font-weight: 600;
      margin-bottom: 15rpx;

    }
    .other-service-list{
      display: inline-flex;
      .other-service-item{
        width:130rpx;
        .name{
          font-size: 25rpx;
          margin-left: 6rpx;
        }
        image{
          text-align: center;
        }
      }
    }
  }
  .myorder-list-wrap{
    margin: 0 30rpx;
    background-color: rgb(255, 255, 255);
    border-radius: 20rpx;
    padding: 15rpx 45rpx;
    // position: absolute;
    // top: 640rpx;
    width: 80%;
    margin-top: 110rpx;

    .myorder-title{
      font-size: 30rpx;
      font-weight: 600;
    }
    .myorder-list{
      display: inline-flex;
      .myorder-list-item{
        width:130rpx;
        position: relative;
        .count{
          position: absolute;
          right: 30rpx;
          top: 3rpx;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 40rpx;
          border-radius: 30PX;
          background-color: #d5401f;
          font-size: 27rpx;
          color: #fff;
          padding: 0 13rpx;
        }
        .name{
          //text-align: center;
          font-size: 25rpx;
          margin-left: 8rpx;
        }
        .name-last{
          font-size: 25rpx;
          margin-left: -10rpx;
        }
        image{
          text-align: center;
        }
      }
    }
  }
}
