.userlist{
  .userHeader{
    height:7em;
    display: block;
    padding:1rem;
    background-color:rgba(241, 197, 139, 0.952);
    .userSign{
      background-color: rgba(71, 71, 71, 0.822);
      border: 0rem;
      border-radius: 99px;
      width:2.7rem;
      height:0.84rem;
      padding:0.2rem;
      float: right;
      margin-top: 0.4rem;
      margin-right: 0.4rem;
      .sign-icon{
        padding-left: 0.2rem;
        float: left;
      }
      .sign-font{
        font-size: 20px;
        float: left;
        font-weight: 700;
        margin-top: -0.05rem;
        margin-left: 0.1rem;
        color: white;
      }
    }
    .userImage{
      padding-top:1.55rem;
      margin-left: 1.2rem;
      float: left;
    }
    .userName{
      float: left;
      margin-top:2.2rem;
      font-weight: 900;
      font-size: 35px;
      margin-left: 0.9rem;
      font-style: initial;
    }
  }
  .all-order{
    margin: 0 1rem;
  }
  .numberInfo{
    margin:0.8rem 0.8rem;
    .number{
      font-weight: 700;
      text-align: center;
      font-size: 30px;
    }
    .text{
      text-align: center;
      font-size: 23px;
      margin-top: 0.5rem;
      color: #9999;
    }
  }
  .menu-list-tab{
    margin: 0 1rem;
  }
}