.my-order{
  background-color: rgb(243, 243, 243);
  //position: relative;;
  height: 100vh;
  .my-order-list{
    .my-order-bar{
      display: inline-flex;
      width: 100%;
      padding: 20rpx 0;
      height: 60rpx;
      background-color: white;
      .tab-item{
        padding-left: 10rpx;
        padding-right: 10rpx;
        padding-top: 8rpx;
        margin-left: 15rpx;
        font-size: 4.5vw;
      }
      .tab-item-active{
        padding-left: 10rpx;
        padding-right: 10rpx;
        background-color: #a8a8a8;
        border-radius: 30rpx;
        padding-top: 8rpx;
        margin-left: 15rpx;
        font-size: 4.5vw;
        color: white;
        
            
      }
    }
    .list-item-wrap{
      padding-top: 30rpx;
      margin:0 30rpx;
      .list-item{
        display: block;
        padding: 30rpx 30rpx;
        margin-bottom:30rpx;
        padding-bottom: 50rpx;
        background-color: white;
        border-radius: 30rpx;
        .total_fee{
          text-align: right;
        }
        .btn{
          margin-top:10rpx;
          display: inline-flex;
          margin-left: 77%;
          .dilivery{
            background-color: #5a5a5a;
            border-radius: 30rpx;
            padding: 5rpx 15rpx;
            color: white;
            margin-right: 0%;
          }
        }
      }
    }
  }
}
.list-good{
  image{
    float: left;
  }
  .title{
    float: left;
    margin-left: 20rpx;
    .name{
      font-size: 38rpx;
      font-weight: 500;
    }
    .spe{
      display: inline-flex;
      .item{
        margin-right: 10rpx;
        font-size: 28rpx;
        color:rgb(102, 102, 102);
      }
    }
  }
  .price-info{
    float: right;
    .one-price{
      font-size: 35rpx;
      font-weight: 400;
    }
    .quantity{
      float: right;
      font-size: 25rpx;
      color:rgb(102, 102, 102);
    }
  }
}
