.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    .status {
        background-color: pink;
    }
    .capsule {
        background-color: rgb(252, 169, 183);
        .title{
            font-weight: 700;
            font-size: 36px;
            text-align: center;
        }
    }
}