page {
  .apply_detail {
    .container_study {
      .contact_wrap {
        display: flex;
        align-items: center;
        padding: 0 20rpx 20rpx;
        .info_wrap {
          flex: 1;
          .name {
            font-size: 15PX;
            text {
              margin-right: 5PX;
            }
          }
          .idCard {
            color: #999;
            font-size: 12PX;
            .id_text {
              margin-left: 20rpx;
            }
          }
        }
      }
      .order_wrap {
        .order_info {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 20rpx 20rpx;
          font-size: 14PX;
          color: #666;
          .title {
            width: 80PX;
          }
          .content {
            flex: 1;
            text-align: right;
            .sign {
              margin-right: 5PX;
              font-size: 12PX;
            }
          }
        }
        .status {
          text-align: right;
          color: #f77438;
          padding: 0 20rpx;
          font-size: 18PX;
          font-weight: 700;
        }
      }
    }
  }
}
