.comment {
  position: relative;
  margin: 20rpx 25rpx;
  padding: 20rpx;
  border-radius: 20rpx;
  background-color: #fff;
  .title {
    font-size: 14PX;
    letter-spacing: 1rpx;
  }
  .more {
    position: absolute;
    right: 20rpx;
    top: 20rpx;
    width: 40rpx;
    height: 40rpx;
  }
  .comment_list {
    display: flex;
    justify-content: flex-start;
    margin: 20rpx 0 10rpx;
    font-size: 14PX;
    .text {
      width: 100%;
      text-align: center;
    }
    image {
      width: 105rpx;
      height: 105rpx;
      margin: 0 15rpx;
      border-radius: 20rpx;
      overflow: hidden;
    }
  }
}
