.tool_bar {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 120rpx;
    padding: 0 20rpx 10rpx;
    border-top: 1px solid #f3f3f3;
    background-color: #fff;
    box-sizing: border-box;
    .tool_item {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
        height: 100rpx;
        margin-right: 25rpx;
        font-size: 24rpx;
        text-align: center;
        line-height: 20rpx;
        .icon {
          padding-top: 5rpx;
        }
        image {
            width: 100%;
            height: 80rpx;
        }
        image.favor, image.share {
          height: 70rpx;
        }
        button {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
        }
    }
    .tool_item_2 {
        flex: 2.5;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90rpx;
        margin-top: 10rpx;
        font-size: 32rpx;
        color: #fff;
        border-radius: 50rpx;
        background-color: #e16d6d;
        box-sizing: border-box;
    }
    .add_cart {
        background-color: #5e83ff;
        margin-right: 30rpx;
    }
    .cart {
        position: relative;
        .count {
            position: absolute;
            right: -5rpx;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            // width: 35rpx;
            height: 35rpx;
            padding: 0 13rpx;
            border-radius: 30rpx;
            background-color: #d5401f;
            font-size: 14PX;
            color: #fff;
        }
    }
}

.isIphoneX {
    height: 180rpx;
}
